AM_API_BASE_URL=https://your-api-base-url.com
AM_AUTH_BASE_URL=https://your-api-base-url.com/auth
AM_USER_BASE_URL=https://your-api-base-url.com/users
AM_PORTFOLIO_BASE_URL=https://your-api-base-url.com/portfolio
AM_TRADE_BASE_URL=https://your-api-base-url.com/trade
AM_GMAIL_BASE_URL=https://your-api-base-url.com/gmail
AM_MARKET_WS_URL=wss://your-api-base-url.com/ws
AM_MARKET_BASE_URL=https://your-api-base-url.com/market
AM_ANALYSIS_BASE_URL=https://your-api-base-url.com/analysis
